<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    
      <fileNamePattern>./logs/%d{yyyyMMdd}.log</fileNamePattern>
    
   	  <maxHistory>30</maxHistory>
      
    </rollingPolicy>
  
	<encoder>
	
	  <Pattern>%level %d [%thread] %logger{15} %M - %msg%n</Pattern>
	  
	</encoder>
  
  </appender>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
  
		<encoder>
		
		  <Pattern>%level %d [%thread] %logger{15} %M - %msg%n</Pattern>
		  
		</encoder>
	
  </appender>

  <logger name="com.mydemo" level="debug" />
  
  <root level="info">
  
	  <appender-ref ref="stdout" />
	  <!-- <appender-ref ref="file" /> -->
	
  </root>
	
</configuration>